code {
    background-color: rgb(26, 21, 21);
    color: rgb(131, 70, 222);
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: pre;
}
